html {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
}

.back {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg');
  height: 85vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-back {
  background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg');
}

.banner {
  height: 15vh;
  transition: height 1s;
}

.banner:hover {
  height: 20vh;
}

.meet {
  color: white;
  width: 95vw;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "Montserrat";
}

.meet:hover {
  color: white;
}

.meet-bold {
  font-weight: bold;
  font-size: 40px;
  transition: color 1s, font-size 1s
}

.meet-bold:hover {
  color: white;
  font-size: 50px;
  width: 95vw;
}

.white {
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
}

.teal {
  color: deepskyblue;
}

.teal:hover {
  color: cyan;
}

.border {
  border: 2px solid white;
}

.backed {
  background-color: rgba(255, 255, 255, 0.4);
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.footer {
  text-align: center;
}

.absolute-center {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#login-submit {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
